---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }} <span style="font-size: 20px;color: #0006;">/ {{ site.course_semester }} </span></h1>

    <!-- {% include announcements.html %} -->
    <br />

    <!-- <h2>Course Description</h2>
    <p>{{ site.course_description }}</p> -->
    
    {{ content }}

  <ul id="archive">
    {% for day in site.days %}
      <li class="archiveposturl" style="background: transparent;">
        <h2><a href="/oxford-royale-math-24/{{ day.url }}">{{ day.title }}</a></h2>
        <p>{{ day.description }}</p>
      </li>
    {% endfor %}
  </ul>


</div>